body {
    margin: 0;
    padding: 0;
    background-color: #000033;
}

nav {
    background-color: #000033;
}

#dropdownMenu {
    background-color: #6666CC;
}

.card {
    background-color: #6666CC;
    border-radius: 20px;
}

#heart,
.toggleOff {
    /* color: #000000; */
}

.toggleOn {
    /* background-color: #FF0066; */
    color: #FF0066;
}